.post-box {
    margin: 40px;
    position: relative;
    display: flex;
    height: 300px;
    width: 920px;
    justify-content: space-between;
    align-items: center;

}
.image {
    width: 370px;
    height: 300px;
    border-radius: 6px;
}

.separation {
    height: 110%;
    border-left: 1px solid black;
}
.text {
    width: 490px;
    height: 300px;

    font-size: 1rem;
}
.post-box .header {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
}

.title {
    font-size: 1.7em;
    width: 320px;
}
.date {
    white-space: nowrap;
    font-size: 0.8rem;
    color: gray;
    font-style: italic;
}
.content {
    padding-top: 19px;
    font-family: 'Roboto';
    hyphens: auto;
}
.author {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
}
.avatar {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    color: white;
    background-color: rgb(117, 117, 117);
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95em;
}
.author-name {
    font-family: 'Roboto';
    font-size: 1rem;
}


.post-box:not(:first-of-type)::after {
    content: ' ';
    position: absolute;
    top: -65px;
    left: -200px;
    border-top: 1px solid rgb(219, 219, 219);
    width: 1250px;
    
}
